// Fonts
$primary-font: 'Poppins', sans-serif
$font-primary: 'Helvetica Neue', sans-serif

// Colors
$background-color: #2C2B2C
$card-background-color: rgba(255, 255, 255, 0.2)
$profile-border-color: rgba(255, 255, 255, 0.7)

$blue-bg: linear-gradient(135deg, #6e8efb, #a777e3)
$white: #ffffff
$primary-color: #6e8efb
$secondary-color: #a777e3
$dark-font: #333333
$light-font: #555555
$light-blue: #f8faff
$card-bg: #ffffff
$button-primary: #6e8efb
$button-secondary: #a777e3
$button-text: #ffffff
$border-color: #e0e7ff
$button-hover: #5a78e3
$button-active: #4c6ac6
$error-color: #ff5c8d
$success-color: #4caf50
$link-color: #6e8efb

$dark-bg: #252729  // Dark charcoal background
$dark-surface: #2d2f31  // Slightly lighter surface color
$dark-border: rgba(255, 255, 255, 0.1)

$blue: #6e8efb
$lavender: #a777e3
$mint-green: #a2f7d7
$pale-pink: #f7a3c6

// Gradient for the background
$soft-pastel-gradient: linear-gradient(358deg, $blue, $lavender, $mint-green, $pale-pink)
