
.statement-page
  padding: 20px
  max-width: 900px
  margin: 0 auto

/* Visa Card Section
.visa-card
  width: 100%
  background-position: center center
  background-repeat: no-repeat 
  background-size: cover
  border-radius: 8px
  color: white
  padding: 20px
  position: relative
  margin-bottom: 30px
  box-shadow: inset 0px -1px 20px 20px rgba(0, 0, 0, 0.2)
  height: 160px
  border-radius: 8px
  opacity: 0.9

.card-type
  font-size: 1.5rem
  font-weight: bold

.card-tier
  margin-top: 5px
  font-size: 1rem

.card-details
  position: absolute
  bottom: 20px
  right: 20px
  text-align: right

.card-holder
  font-size: 1rem
  margin-bottom: 5px

.card-number
  display: flex
  align-items: center
  gap: 10px
  font-size: 1rem

  .toggle-visibility
    background: none
    border: none
    color: white
    cursor: pointer
    font-size: 1.2rem

/* Statement Section

.statement-section
    background: rgba(255, 255, 255, 0.1)
    padding: 20px
    border-radius: 8px
    box-shadow: inset 20px 0px 20px 20px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(1px)
    color: white

    .filter-pagination
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 36px

        .filter-options

            label
                font-size: 1.3rem
                margin-right: 10px

            #items-per-page
                padding: 8px

.statement-heading
  font-size: 1.5rem
  margin-bottom: 36px
  text-align: center

.statements
  display: flex
  flex-direction: column
  gap: 24px

.statement-item
  display: flex
  justify-content: space-between
  align-items: center
  padding: 24px
  border-radius: 8px
  box-shadow: 1px -1px 9px 0px rgba(0, 0, 0, 0.1)

.statement-logo i
  font-size: 1.5rem
  color: #888

.statement-info
  flex: 1
  margin-left: 15px

.statement-title
  font-size: 1rem
  margin: 0 0 12px 0

.statement-date
  font-size: 0.9rem
  color: #777

.statement-amount
  font-size: 1.2rem
  font-weight: bold

  &.positive
    color: green

  &.negative
    color: red

/* Pagination

.pagination
  display: flex
  align-items: center
  justify-content: center
  gap: 0.5rem
  margin-top: 20px

  button
    padding: 0.5rem 1rem
    border: none
    background: #1a1a1a
    border-radius: 5px
    cursor: pointer


    &.active
        background-color: #6e8efb
        color: white

    &:disabled
        background-color: #1a1a1a
        cursor: not-allowed

.page-numbers
    display: flex
    gap: 0.5rem