@use '../utils/mixins' as mixins
@use '../utils/variables' as variables


.verification-section
    background: variables.$soft-pastel-gradient
    padding: 2rem
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    margin-bottom: 2rem
    display: none

    &.active
        display: block

    .verification-form
        max-width: 600px
        margin: 0 auto

        .form-group
            margin-bottom: 1.5rem

        label
            display: block
            margin-bottom: 0.5rem
            color: #333

        input[type="file"]
            width: 100%
            padding: 0.5rem
            border: 1px dashed #ddd
            border-radius: 4px

.account-info
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 1.5rem

.info-card
    background: white
    padding: 1.5rem
    border-radius: 10px
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

    h3
        color: #666
        margin-bottom: 1rem
        font-size: 1rem

    .amount
        font-size: 1.5rem
        font-weight: bold
        color: #333

    &.balance
        .balance-amount
            display: flex
            align-items: center
            gap: 1rem

        .toggle-visibility
            background: transparent
            border: none
            cursor: pointer
            color: #666

            &:hover
                color: #333

.dashboard
    min-height: 100vh
    padding-bottom: 2rem

    &__header
        background: rgb(1,162,140)
        box-shadow: 0 2px 4px rgba(0,0,0,0.05)
        margin-bottom: 2rem
        padding-bottom: 6px
        
        &_top
            @include mixins.flex-center
            @include mixins.justify-content(space-between)
            padding: 2rem 0
            
            .header-logo
                font-size: 1.5rem
                font-weight: bold
                color: variables.$white
                @include mixins.transition(color)
                @include mixins.flex-center
                gap: 16px
                
                .profile-picture
                    display: flex
                    width: 60px
                    height: 60px
                
                .header-greetings
                    @include mixins.flexbox
                    @include mixins.flex-direction(column)
                    gap: 6px
                    font-size: 18px
                    
            .header-profile
                width: 60px
                height: 60px
                position: relative
                cursor: pointer
                @include mixins.flex-center
                @include mixins.transition(all)

                // Hamburger middle line
                &::before,
                &::after,
                span
                    content: ""
                    position: absolute
                    width: 30px
                    height: 3px
                    background-color: variables.$white
                    border-radius: 3px
                    @include mixins.transition(all)

                // Top line
                &::before
                    transform: translateY(-10px)

                // Bottom line
                &::after
                    transform: translateY(10px)

                // Middle line
                span
                    width: 20px // Shorter middle line
                    right: 15px // Align right with other lines

                &:hover
                    &::before
                        transform: translateY(-12px)
                    &::after
                        transform: translateY(12px)
                    span
                        width: 30px // Expand middle line on hover
                        right: auto
    .verification-banner
        &__content
            background: #c269fb
            color: variables.$light-blue
            padding: 1rem
            display: flex
            justify-content: center
            align-items: center
            gap: 1rem
            cursor: pointer
            transition: all 0.3s ease
            border-radius: 50px 50px 0 0

            span
                font-size: 16px
                font-weight: 700
                text-transform: capitalize

        &__toggle
            background: transparent
            border: none
            color: white
            cursor: pointer

    &__main
        @include mixins.flex-center
        flex-direction: column
        gap: 2rem

        .profile-section
            @include mixins.flexbox
            @include mixins.justify-content(space-between)
            gap: 2rem
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
            padding: 1rem

            .profile-left
                width: 40%
                @include mixins.flex-center

                .profile-picture
                    position: relative
                    display: block
                    width: 100%
                    border-radius: 50%
                    overflow: hidden
                    
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover

                    .profile-overlay
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        background: rgba(0, 0, 0, 0.5)
                        display: flex
                        justify-content: center
                        align-items: center
                        opacity: 0
                        transition: opacity 0.3s ease

                        i
                            color: white
                            font-size: 2rem

                    &:hover .profile-overlay
                        opacity: 1

            .profile-right
                width: 60%
                @include mixins.flexbox
                @include mixins.flex-direction(column)
                gap: 24px

                .play-dhukuti-btn
                    width: 100%
                    padding: 1rem
                    font-size: 1.2rem
                    border: none
                    border-radius: 50px
                    background: linear-gradient(135deg, #6e8efb, #a777e3)
                    color: white
                    cursor: pointer
                    transition: transform 0.3s ease

                    &:hover
                        transform: translateY(-2px)

                .find-group-btn
                    width: 100%
                    padding: 0.75rem
                    border: 2px solid #6e8efb
                    border-radius: 50px
                    background: transparent
                    color: #6e8efb
                    cursor: pointer
                    margin-bottom: 1rem

                .investment-options
                    .frequency-buttons
                        display: flex
                        gap: 1rem

                        .frequency-btn
                            flex: 1
                            padding: 0.5rem
                            border: 1px solid #ddd
                            border-radius: 25px
                            background: #5965f3
                            cursor: pointer

                        .monthly-btn
                            color: #6e8efb
                            background: transparent
                            border: 2px solid #6e8efb
    &__play-button
        width: 80%
        padding: 1.5rem
        border-radius: 50px
        background-color: #007bff
        color: white
        font-size: 1.2rem
        border: none
        cursor: pointer
        @include mixins.transition(background-color)

        &:hover
            background-color: #0056b3

    &__cards
        width: 100%
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 1.5rem

        .card
            background: white
            border-radius: 8px
            padding: 1.5rem
            box-shadow: 0 2px 4px rgba(0,0,0,0.1)
            min-height: 150px
            @include mixins.flex-center
            flex-direction: column

    &__activities
        margin-top: 2rem
        padding: 1rem
        background-color: white
        border-radius: 8px
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

        &-title.dashboard
            font-size: 1.5rem
            font-weight: bold
            margin-bottom: 1rem

        &-list
            list-style: none
            padding: 0

            &-item
                padding: 0.5rem 0
                border-bottom: 1px solid #ddd

                &:last-child
                    border-bottom: none

    &__performance
        margin-top: 2rem
        padding: 1rem
        background-color: white
        border-radius: 8px
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

        &-title
            font-size: 1.5rem
            font-weight: bold
            margin-bottom: 1rem

        &-chart
            width: 100%
            height: 300px

    &__bidding
        margin-top: 2rem
        padding: 1rem
        background-color: white
        border-radius: 8px
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

        &-title
            font-size: 1.5rem
            font-weight: bold
            margin-bottom: 1rem

        &-list
            list-style: none
            padding: 0

            &-item
                padding: 0.5rem 0
                border-bottom: 1px solid #ddd

                &:last-child
                    border-bottom: none


.investment-tabs
    background: #252729
    padding: 2rem
    border-radius: 16px

    .tab-buttons
        @include mixins.flexbox
        margin-bottom: 2rem

        .tab-button
            flex: 1
            padding: 1rem 2rem
            border: none
            background: rgba(255, 255, 255, 0.05)
            color: #808080
            cursor: pointer
            @include mixins.transition(all)
            @include mixins.flex-center
            gap: 0.5rem

            &:first-child
                border-radius: 16px 0 0 16px

            &:last-child
                border-radius: 0 16px 16px 0

            i
                font-size: 1.2rem

            &.active
                background: rgba(255, 255, 255, 0.1)
                color: #ffffff
                box-shadow: inset 0px 2px 20px 20px rgba(255, 255, 255, 0.1)

    .tab-content
        &.hidden
            display: none

    .investment-amounts
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
        gap: 1.5rem

        .glass-button
            background: rgba(255, 255, 255, 0.05)
            backdrop-filter: blur(10px)
            border: 1px solid rgba(255, 255, 255, 0.1)
            border-radius: 16px
            padding: 1.5rem
            color: white
            cursor: pointer
            @include mixins.transition(transform)
            @include mixins.flex-center
            @include mixins.flex-direction(column)
            gap: 0.5rem

            &:hover
                transform: translateY(-2px)
                background: rgba(255, 255, 255, 0.1)

            .amount
                font-size: 1.5rem
                font-weight: bold

            .period
                font-size: 0.875rem
                color: #808080