@use '../utils/mixins' as mixins
@use '../utils/variables' as variables


.verification-section
    background: variables.$soft-pastel-gradient
    padding: 2rem
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
    margin-bottom: 2rem
    display: none

    &.active
        display: block

    .verification-form
        max-width: 600px
        margin: 0 auto

        .form-group
            margin-bottom: 1.5rem

        label
            display: block
            margin-bottom: 0.5rem
            color: #333

        input[type="file"]
            width: 100%
            padding: 0.5rem
            border: 1px dashed #ddd
            border-radius: 4px

.account-info
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 1.5rem

.info-card
    background: white
    padding: 1.5rem
    border-radius: 10px
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

    h3
        color: #666
        margin-bottom: 1rem
        font-size: 1rem

    .amount
        font-size: 1.5rem
        font-weight: bold
        color: #333

    &.balance
        .balance-amount
            display: flex
            align-items: center
            gap: 1rem

        .toggle-visibility
            background: transparent
            border: none
            cursor: pointer
            color: #666

            &:hover
                color: #333

.dashboard
    min-height: 100vh
    padding-bottom: 2rem

    .verification-banner
        &__content
            background: #c269fb
            color: variables.$light-blue
            padding: 1rem
            display: flex
            justify-content: center
            align-items: center
            gap: 1rem
            cursor: pointer
            transition: all 0.3s ease
            border-radius: 50px 50px 0 0

            span
                font-size: 16px
                font-weight: 700
                text-transform: capitalize

        &__toggle
            background: transparent
            border: none
            color: white
            cursor: pointer

    &__main
        @include mixins.flex-center
        flex-direction: column
        gap: 2rem

        .profile-section
            @include mixins.flexbox
            @include mixins.flex-direction(column)
            @include mixins.justify-content(center)
            @include mixins.align-items(center)
            gap: 2rem
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
            padding: 1rem
            position: relative

            .profile-left
                width: 40%
                @include mixins.flex-center

                .profile-picture
                    position: relative
                    display: block
                    width: 100%
                    border-radius: 50%
                    overflow: hidden
                    
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover

                    .profile-overlay
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        background: rgba(0, 0, 0, 0.5)
                        display: flex
                        justify-content: center
                        align-items: center
                        opacity: 0
                        transition: opacity 0.3s ease

                        i
                            color: white
                            font-size: 2rem

                    &:hover .profile-overlay
                        opacity: 1

    &__play-button
        width: 80%
        padding: 1.5rem
        border-radius: 50px
        background-color: #007bff
        color: white
        font-size: 1.2rem
        border: none
        cursor: pointer
        @include mixins.transition(background-color)

        &:hover
            background-color: #0056b3

    &__cards
        width: 100%
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 1.5rem

.mini-statement-wrapper
    //color: #370909f2
    padding: 24px 36px
    .card
        background-color: rgba(255, 255, 255, 0.1)
        border-radius: 8px
        padding: 1.5rem
        box-shadow: inset -8px -3px 20px 20px rgba(255, 255, 255, 0.1)
        @include mixins.transition(all)
        
        &:hover
            transform: translateY(-2px)
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1)

        &-content
            @include mixins.flexbox
            @include mixins.justify-content(space-between)
            color: variables.$white

        &-balance
            @include mixins.flexbox
            @include mixins.flex-direction(column)
            @include mixins.justify-content(space-between)
            @include mixins.align-items(flex-end)
            width: 50%
            gap: 32px

            .card-menu
                padding: 0.5rem
                cursor: pointer
                @include mixins.transition(opacity)
                
                i
                    font-size: 1.25rem
                    color: variables.$white

                &:hover
                    opacity: 0.7

            .balance-info
                @include mixins.flexbox
                @include mixins.flex-direction(column)
                align-items: flex-end
                gap: 12px
                letter-spacing: .05rem

                .amount
                    font-size: 1.3rem
                    font-weight: 600
                    color: variables.$white

                .balance-label
                    font-size: 1rem
                    color: variables.$white
                    font-weight: 500

    &__activities
        margin-top: 2rem
        padding: 1rem
        background-color: white
        border-radius: 8px
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

        &-title.dashboard
            font-size: 1.5rem
            font-weight: bold
            margin-bottom: 1rem

        &-list
            list-style: none
            padding: 0

            &-item
                padding: 0.5rem 0
                border-bottom: 1px solid #ddd

                &:last-child
                    border-bottom: none

    &__performance
        margin-top: 2rem
        padding: 1rem
        background-color: white
        border-radius: 8px
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

        &-title
            font-size: 1.5rem
            font-weight: bold
            margin-bottom: 1rem

        &-chart
            width: 100%
            height: 300px

    &__bidding
        margin-top: 2rem
        padding: 1rem
        background-color: white
        border-radius: 8px
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

        &-title
            font-size: 1.5rem
            font-weight: bold
            margin-bottom: 1rem

        &-list
            list-style: none
            padding: 0

            &-item
                padding: 0.5rem 0
                border-bottom: 1px solid #ddd

                &:last-child
                    border-bottom: none


.investment-tabs
    background: #252729
    padding: 2rem
    border-radius: 16px

    .tab-buttons
        @include mixins.flexbox
        margin-bottom: 2rem

        .tab-button
            flex: 1
            padding: 1rem 2rem
            border: none
            background: rgba(255, 255, 255, 0.05)
            color: #808080
            cursor: pointer
            @include mixins.transition(all)
            @include mixins.flex-center
            gap: 0.5rem

            &:first-child
                border-radius: 16px 0 0 16px

            &:last-child
                border-radius: 0 16px 16px 0

            i
                font-size: 1.2rem

            &.active
                background: rgba(255, 255, 255, 0.1)
                color: #ffffff
                box-shadow: inset 0px 2px 20px 20px rgba(255, 255, 255, 0.1)

    .tab-content
        &.hidden
            display: none

    .investment-amounts
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
        gap: 1.5rem

        .glass-button
            background: rgba(255, 255, 255, 0.05)
            backdrop-filter: blur(10px)
            border: 1px solid rgba(255, 255, 255, 0.1)
            border-radius: 16px
            padding: 1.5rem
            color: white
            cursor: pointer
            @include mixins.transition(transform)
            @include mixins.flex-center
            @include mixins.flex-direction(column)
            gap: 0.5rem

            &:hover
                transform: translateY(-2px)
                background: rgba(255, 255, 255, 0.1)

            .amount
                font-size: 1.5rem
                font-weight: bold

            .period
                font-size: 0.875rem
                color: #808080


